body{
    background-image: linear-gradient(chocolate, yellow, cyan);
}
button{
    font-size: 20px;
}
.imagens{
    width: 350px;
    height: 300px;
}
#h1{
    text-shadow: 0 0 0.2em #8f7;
}
#desenvolvido{
    text-shadow: 0 0 0.2em rgb(255, 255, 0);
    font-size: 30px;
    background-color: white;
}